.header__images {
    display: flex;
    gap: 35px;
    padding-left: 155px;
}

@media (width < 1483px) {
    .header__images {
        padding-left: 0;
    }
}

@media (width <= 1250px) {
    .header__images {
        gap: 20px;
    }
}