.product__grid_button-text-details {
    mix-blend-mode: difference;

    color: #FFF;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
