.product__title {
    color: #002B45;
    font-family: var(--title-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 43.2px */
    padding-left: 150px;
}