.header {
    display: flex;
    justify-content: space-between;
    min-height: 126px;
    background-color: var(--background-color-header);
    align-items: center;
    position: relative;
    z-index: 1;
}

@media (width < 1483px) {
    .header {
        justify-content: center;
    }
}
@media (width < 1024px) {
    .header {
        flex-direction: column;
    }
}