.product__grid-switch_text {
    color: #FFF;
    font-family: var(--title-font);
    font-size: 20.686px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}