.product__grid {
    display: flex;
    gap: 48px;
    padding-block-end: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
/*@media (width < 1800px) {*/
/*    .product__grid {*/
/*        justify-content: center;*/
/*    }*/
/*}*/

@media (width <= 880px) {
    .product__grid {
        max-width: 759px;
    }
}