.product__grid-switch_button:first-of-type {
    background: url("../../../../svg/vector-left.svg") no-repeat center;
    width: 28px;
    height: 18.963px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.product__grid-switch_button:last-of-type {
    background: url("../../../../svg/vector-right.svg") no-repeat center;
    width: 28px;
    height: 18.963px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.product__grid-switch_button:hover {
    opacity: 0.6;
}

.product__grid-switch_button:focus {
    outline: none;
}

.product__grid-switch_button:focus-visible {
    outline: 1px solid var(--outline-color);
}