.cover__title {
    color: #FFF;
    font-family: var(--title-font);
    font-size: clamp(2rem, 1.7143rem + 1.4286vw, 4rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-block-start: calc(125px + 163px);
    padding-left: 7.9%;
}