.product__grid_about {
    color: #7C7C7C;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 133px;
}

@media (width < 1800px) {
    .product__grid_about {
        padding-left: 0;
        text-align: center;
    }
}