.product__grid_title {
    color: #002B45;
    font-family: var(--title-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-block-end: 20px;
    padding-left: 133px;
    padding-block-start: 56px;
}

@media (width < 1800px) {
    .product__grid_title {
        padding-left: 0;
        text-align: center;
    }
}