.dropdown__box {
    padding-block-end: 45px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    gap: 14px;
}

@media (width < 1800px) {
    .dropdown__box {
        display: flex;
        justify-content: center;
    }
}

@media (width < 1483px) {
    .dropdown__box {
        padding-left: 0;
    }
}
@media (width < 820px) {
    .dropdown__box {
        flex-direction: column;
        gap: 50px;
        align-items: center
    }
}